<h1>Create A New Fish</h1>
<form action="/fish" method="post">
  <fieldset>
    <legend>Information:</legend>
    <span class="error_flash"><%= flash[:fish_error] %></span><br><br>
    <label for="name">Name:</label>
    <input class="short_input" name="name" id="name"><br><br>
    <label for="wiki">Wiki:</label>
    <input class="short_input" name="wiki" id="wiki"><br>
  </fieldset>
  <button id="log_button" type="submit">Create</button>
</form>










