
<h1>Create A New Fish</h1>
<form action="/fish" method="post">
  <fieldset>
    <legend>Information:</legend>
    Name: <input class="short_input" name="name" value="Enter fish name"><br><br>
    Wiki: <input class="short_input" name="wiki" value="Enter fish's wiki page'"><br>
  </fieldset>
  <button id="log_button" type="submit">Create</button>
</form>










