

<h1>Register for fish.ly!</h1>
<form action="/registration" method="post">
  <fieldset>
    <legend>Information:</legend>
    Username: <input type="text" class="short_input" name="username"><br><br>
    Password: <input type="password" class="short_input" name="password"><br>
  </fieldset>
  <button id="log_button" type="submit">Register</button>
</form>


