

<h1>Register for fish.ly!</h1>
<form action="/registration" method="post">
  <fieldset>
    <legend>Information:</legend>
    <span class="error_flash"><%= flash[:error_flash] %></span><br><br>
    <label for="username">Username:</label>
    <input type="text" class="short_input" name="username" id="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" class="short_input" name="password" id="password"><br>
  </fieldset>
  <button id="log_button" type="submit">Register</button>
</form>


