<head>
  <link rel="stylesheet" type="text/css" href="homepage.css">
</head>

<h1>blah blah</h1>

<!--if not logged in-->
<% if session[:user_id]  %>
  <!--<a href="/logout"><button action="/logout" type="button" formmethod="post">Logout</button></a>-->
  <form action="/logout" method="post"><button type="logout">Logout</button></form>

  <%= @test %>

<% else %>
  <a href="/registration"><button type="button" formmethod="post">Registration</button></a>

  <form action="/login" method="post">
    username <input type="text" name="username">
    password <input type="password" name="password">
    <button type="submit">Login</button>
  </form>



 <% end %>



